@font-face {
font-family: 'superFly';
    
src: url('../fonts/SuperFlyTwo.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'gothamUltra';
    
src: url('../fonts/GothamUltra.otf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
    font-family: "gothamBook";
    src: url("../fonts/gothamBook.woff2") format("woff2"),
    url("../fonts/gothamBook.woff") format("woff");
}


