    
    header {
        height: 50px;
        position: fixed;
        width: 100%;
        z-index: 98;

        .name {
            position: absolute;
            width: 400px;
            left: 50%;
            margin-left: -200px;
            z-index: 99;
            transform: rotate(-15deg);
            
            font-family: 'moonstruck';
            font-size: 250px;
            text-align: center;
            color: $black;
        }

        .menu {
            position: absolute;
            width: 0%;
            height: 100vh;
            top: 0;
            left: 0;
            background: $yellow_portfolio;
            overflow: hidden;

            ul {
                position: absolute;
                width: 100%;
                height: 100%;
    
                li {
                  position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-(50%));

                    &:nth-child(1) { top: 35%; }
                    &:nth-child(2) { top: 45%; }
                    &:nth-child(3) { top: 55%; }
                    &:nth-child(4) { top: 65%; }

                    a {
                        display: block;

                        font-family: gothamBold;
                        font-size: 130px;
                        line-height: 250px;
                        text-align: center;
                        color: #edb551;
                        text-decoration: none;
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        font-size: 140px;
                        font-family: gothamBold;
                        text-align: center;
                        color: $black;
                        line-height: 210px;
                        pointer-events: none;
                    }

                    &:nth-child(1):before { content: 'home'; }
                    &:nth-child(2):before { content: 'projets'; }
                    &:nth-child(3):before { content: 'contact'; }
                    &:nth-child(4):before { content: 'love'; color: $pink_portfolio;  }
                    &:nth-child(4) a { color: $pink_bg_portfolio; }
                }
            }
        }
    }