.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $bg_portfolio;
    z-index: 100;

    #percent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        font-size: 20rem;
        color: $yellow_portfolio;
        font-family: "gothamBold";
    }
}