.love {

    font-family: "gothamMedium";
    span {
        overflow: hidden;
        display: block;
    }

    .blocTop {
        height: 100vh;
        width: 100%;
        background-image: url(../../img/homeLess2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        font-family: "gothamBook";

        .voileNoir {

            position: absolute;
            height: 100vh;
            width: 100%;
            opacity: 0.5;
            background-color: $black;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            font-family: "gothamBold";
            font-size: 3rem;
            text-transform: inherit;
            color: $white;
            opacity: 0;

            &.shadow {

                top: 50%;
                left: 50%;
                opacity: 0.3
            }
        }
    } //    BLOC DU MILIEU
    .blocMiddle {
        height: 100vh;
        width: 100%;
        padding-top: 50px;
        background: $pink_portfolio;

        h2 {

            width: 100%;

            text-align: center;
            text-transform: inherit;
            font-family: "gothamBold";
            font-size: 1rem;
            color: $white;
            letter-spacing: 0.5px;
        }

        .conteneur {
            position: relative;
            height: 200px;
            width: 80%;
            margin: 70px auto 0 auto;
            font-family: "gothambold";
            z-index: 1;
            &:before {
                content: '';
                width: 100%;
                padding: 0 4px;
                left: -2px;
                height: 100%;
                position: absolute;
                z-index: -1;
                bottom: 2px;
                transition: .1s ease-in-out;
                background: $white;
                box-shadow: 8px 8px 0px #ff8289;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 5rem;
                color: $blue_portfolio;
                margin: 0;

                &.left {

                    top: 50%;
                    left: 20%;
                    transform: translateY(-50%, 0);
                    color: #cfcfcf;
                }

                &.right {

                    top: 50%;
                    left: 80%;
                    transform: translateY(-50%, 0);
                    color: #cfcfcf;
                }
            }

            a {
                position: absolute;
                bottom: -5%;
                left: 50%;
                transform: translate(-50%, 0%);
                &:before {

                    background: $yellow_portfolio;
                    box-shadow: #ff8289;
                    box-shadow: 0px 4px 0px #ff8289;

                }
            }
        } //        FIN CONTENEUR
        p {
            margin-top: 50px;
            font-family: "gothamBold";
            font-size: 9rem;
            color: #e9e9e9;
            text-align: center;
            width: 100%;
            span {

                font-size: 1rem;
            }

        }
      


    } // DEBUT BLOC BOTTOM
    .blocBottom {
        position: relative;
        padding-top: 15%;
        height: 100vh;
        width: 100%;
        font-size: 0.8rem;
        p {
            width: 100%;
            text-align: center;
            span{
                       height: 14px;
                &.devoileTest{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                } 
                
                &.devoileTest1{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest2{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest3{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest4{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest5{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest6{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest7{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest8{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest9{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }    
                &.devoileTest10{
                    
                    transform: translateY(100%);
                    opacity:0;
             
                }
            }
        }

        img {

            &.signature {

                display: block;
                margin: auto;
                width: 100px;
                margin-top: 20px;
            }

            &.tristanEntrepreuneur {
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 200px;

            }
        }


    }


}




// RESPONSVE
// RESPONSVE
// RESPONSVE
// RESPONSVE
// RESPONSVE 
@media screen and (min-width: $middle) {

    .love {

        span {}

        .blocTop {

            background-image: url(../../img/homeLess3.png);

            .voileNoir {}

            h1 {

                top: inherit;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0%);
                font-size: 7rem;


                &.shadow {

                    top: inherit;
                    bottom: 10%;
                    left: 50%;
                    opacity: 0.3
                }
            }
        } //    BLOC DU MILIEU
        .blocMiddle {
            position: relative;
            h2 {

                font-size: 3rem;

            }

            .conteneur {
                position: relative;
                height: 600px;
                width: 600px;
                margin: 150px auto 0 10%;

                &:before {}

                p {

                    font-size: 25rem;

                    &.left {
                        font-size: 7rem;

                    }

                    &.right {
                        font-size: 7rem;

                    }
                }

                a {
                    position: absolute;
                    bottom: -5%;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    &:before {

                        background: $yellow_portfolio;
                        box-shadow: #ff8289;
                        box-shadow: 0px 4px 0px #ff8289;

                    }
                }
            } //        FIN CONTENEUR
            p {
                position: absolute;
                width: 600px;
                top: 50%;
                left: 50%;
                transform: translate(20%, -50%);
                font-size: 20rem;
                span {

                    font-size: 3rem;
                    text-align: left;
                }

            }


        } // DEBUT BLOC BOTTOM
        .blocBottom {

            font-size: 1.5rem;
            p {
                position: absolute;
                top: 20%;
                left: 5%;
                transform: translate(0%, 0%);
                width: 600px;
                margin: 0;
                text-align: left;
                
                span{
                    
                    height: 27px;
                
                }

            }

            img {

                &.signature {

                    position: absolute;
                    top: 60%;
                    left: 5%;
                    transform: translate(0%, 0%);
                    width: 200px;

                }

                &.tristanEntrepreuneur {
                    position: absolute;
                    bottom: 0%;
                    left: inherit;
                    right: 5%;
                    transform: translate(0%, 0%);
                    width: 500px;

                }
            }


        }


    }

}